﻿@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
}

    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }

html {
    line-height: 1.2;
}

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: "Roboto", arial, sans-serif;
    font-size: 10px;
}

.selected-item {
    margin: 20px 0;
    text-align: center;

}

    .selected-item p {
        font-size: 10px;
    }

        .selected-item p span {
            font-weight: bold;
        }
/* dropdown list */
.dropdown {
    height:35px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
}

    .dropdown.active .selLabel:after {
        content: '\25B2';
    }

    .dropdown.active .dropdown-list li:nth-child(1) {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    .dropdown.active .dropdown-list li:nth-child(2) {
        -webkit-transform: translateY(200%);
        transform: translateY(200%);
    }

    .dropdown.active .dropdown-list li:nth-child(3) {
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }

    .dropdown.active .dropdown-list li:nth-child(4) {
        -webkit-transform: translateY(400%);
        transform: translateY(400%);
    }

    .dropdown > span {
        /*border: 1px;*/
        border-radius: 6px;
        border: 2px solid;
        border-color: limegreen;
        box-shadow: 0 0 1px 1px #8cf777;
        width: 300px;
        height: 35px;
        line-height: 32px;
        color: black;
        font-size: 15px;
        letter-spacing: 2px;
        background: white;
        display: block;
        padding: 0 50px 0 30px;
        position: relative;
        z-index: 9999;
        cursor: pointer;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transition: -webkit-transform 500ms;
        transition: -webkit-transform 500ms;
        transition: transform 300ms;
        transition: transform 300ms, -webkit-transform 300ms;
        -webkit-backface-visibility: hidden;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
        .dropdown > span:hover {
            box-shadow: 0 0 10px 5px #8cf777;
        }

        .dropdown > span:after {
            content: '\25BC';
            position: absolute;
            right: 0px;
            top: 15%;
            width: 40px;
            text-align: center;
            font-size: 10px;
            /*padding: 10px;*/
            height: 70%;
            line-height: 25px;
            border-left: 1px solid #ddd;
        }

        .dropdown > span:active {
            -webkit-transform: rotateX(45deg);
            transform: rotateX(45deg);
        }

            .dropdown > span:active:after {
                content: '\25B2';
            }

.dropdown-list {
    position: absolute;
    top: 0px;
    width: 100%;
}

    .dropdown-list li {
        display: block;
        list-style: none;
        left: 0;
        opacity: 1;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
        position: absolute;
        top: 0;
        width: 299px;
        height: 35px;
    }

        .dropdown-list li:nth-child(1) {
            background-color: orange;
            z-index: 4;
            /*-webkit-transform: translateY(12%);*/
            /*transform: translateY(12%);*/
            height: 33px;
        }
            .dropdown-list li:nth-child(1) span:hover {
                background-color: orange;
                color: white;
                height: 33px;
            }

        .dropdown-list li:nth-child(2) {
            background-color: lawngreen;
            z-index: 3;
            /*-webkit-transform: translateY(3%);*/
            /*transform: translateY(3%);*/
            height: 33px;
        }

        .dropdown-list li:nth-child(3) {
            background-color: #9b59b6;
            z-index: 2;
            /*-webkit-transform: translateY(6%);*/
            /*transform: translateY(6%);*/
            height: 33px;
        }

        .dropdown-list li:nth-child(4) {
            background-color: #e67e22;
            z-index: 1;
            /*-webkit-transform: translateY(9%);*/
            /*transform: translateY(9%);*/
        }

        .dropdown-list li span {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-backface-visibility: hidden;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 100%;
            font-size: 10px;
            line-height: 60px;
            padding: 0 30px;
            display: block;
            color: black;
            cursor: pointer;
            letter-spacing: 2px;
            height: 35px;
            line-height: 35px;
        }



/*-----------------------------------------------------------------------------------------------*/
body {
    margin: 50px;
}

#accordion .glyphicon {
    margin-right: 10px;
}

.panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
}

.panel-collapse > .list-group {
    margin-bottom: 0;
}

.panel-collapse .list-group-item {
    border-radius: 0;
}

.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}

.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

    .panel-collapse .list-group-item li.list-group-item:last-child {
        padding-bottom: 0;
    }

.panel-collapse div.list-group div.list-group {
    margin: 0;
}

.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item {
    border-top: 1px solid #DDD !important;
}